.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mainDiv {
  width: 240px;
  background-color: #fff;
  border: 5px solid rgb(74, 127, 207);
  padding: 2px;
  margin: 50px;
  box-shadow: 10px 10px 90px rgba(9, 181, 41, 0.5);
  border-radius: 15px;
}

.quoteDiv,
.calcuDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.quoteDiv {
  padding: 20px;
  background-color: rgba(9, 181, 41, 0.212);
  box-shadow: 10px 10px 90px rgba(9, 181, 41, 0.5);
  border-radius: 30px;
  color: green;
}
